@font-face {
    font-family: 'act_of_rejectionregular';
    src: url('../fonts/act_of_rejection-webfont.woff2') format('woff2'),
        url('../fonts/act_of_rejection-webfont.woff') format('woff');
}

/* élements de base + police */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'act_of_rejectionregular';
}

.fight1{

    background: url("../img/bg3.gif") center center no-repeat fixed;
    background-size: cover;
    height: 100vh;
}

.container-top1{
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 6ch;
}
.container-top2{
    display: flex;
    justify-content: space-around;
    margin-top: -4%;
}
.container-bas{
    display: flex;
	justify-content: center;
    margin-top: -9%;
}
.container-bas2{
    display: flex;
    justify-content: space-between;
    margin-top: -28%;
    padding-left: 10%;
    padding-right: 10%;
}
.container-bas2 img{
    height: 55vh;
}
button{
    background: none;
    border: none;
    border-radius:none;
}

@media only screen and (max-width: 600px) {
    .container-top1{
        font-size: 4ch;
    }
    .container-bas2{
        margin-top: -130%;

    }
    .container-bas2 img{
        height: 40vh;
    }
    .container-bas{
        margin-top: -35%;
    }
    .fight1{
        background: url("../img/bg3.gif") center center no-repeat fixed;
        background-size: cover;
    }
  }