/* Police */
@font-face {
    font-family: 'act_of_rejectionregular';
    src: url('../fonts/act_of_rejection-webfont.woff2') format('woff2'),
        url('../fonts/act_of_rejection-webfont.woff') format('woff');
}

/* élements de base + police */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'act_of_rejectionregular';
}
/* Menu */
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 10%;
    background: url("../img/bg1.gif") center center no-repeat fixed;
    background-size: cover;
    height: 90vh;
}

/* Boutons */
.button {
    font-size: 50px;
    padding: 10px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.box {
    width: 380px;
    background: rgba(217, 217, 217, 0.35);
    padding: 20px;
}

/* Popup et Overlay */
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}
@media only screen and (max-width: 600px) {

    * {
        margin: 0;
        padding: 0;
        text-decoration: none;
        font-family: 'act_of_rejectionregular';
    }
    .box{
        width: 50vw;
    }
    .menu{
        background: url("../img/bg1.gif") center center no-repeat fixed;
        background-size: cover;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
  }